@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f2937; /* gray-800 */
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827; /* gray-900 */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure scrollbar styles are applied globally */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}